/* Styles do Painel de Administração */

/* Configurações de Foto do usuario */
.app_formbox_photo {
    display: flex;
    align-items: center;
    margin-bottom: var(--area-box);
  }
  
  .app_formbox_photo .thumb {
    width: 120px;
    height: 120px;
    border: 5px solid #CCCCCC;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .app_formbox_photo div {
    width: calc(100% - 120px);
    padding-left: var(--area-box);
  }
  
  .app_formbox_photo .thumb {
    width: 80px;
    height: 80px;
  }
  
  .app_formbox_photo div {
    width: calc(100% - 80px);
  }

/* Login de Usuário*/
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Typeahead Color*/
span.twitter-typeahead .tt-suggestion:focus,
.dropdown-item:hover,
span.twitter-typeahead .tt-suggestion:hover {
    text-decoration: none;
    background-color: var(--bs-secondary);
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: var(--bs-secondary);
}

/* AJUDA */
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
    --bs-tooltip-color: var(--bs-white);
}

/* Datatables Pagination */
.page-link {color: var(--bs-secondary)}
.pagination {--bs-link-hover-color: #0c1390;}
.active>.page-link, .page-link.active {background-color: var(--bs-secondary);border-color: var(--bs-secondary);}


.bd-navbar .dropdown-menu .active .bi {
    display:block !important
}
.bi {
   fill:currentcolor
}